<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="expo.modules.pdfreader">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application>
        <activity
            android:name=".PdfReaderActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>

</manifest>
